<% obj.each do |movie| %>
  <div class="row">
    <div class="col-md-2">
      <section class="user_info center">
        <%= gravatar_for(movie.user, size: 120) %>
      </section>
    </div>
    <div class="col-md-8 well">
      <h4><%= link_to movie.name, movie_path(movie) %></h4>
      <p><%= truncate(movie.description, length: 150) %></p>
      <% if movie.genres.any? %>
        <p>Genres: <%= render movie.genres %> </p>
      <% end %>
      <p>
        <span class="quiet"><small>Created
        <%= time_ago_in_words(movie.created_at) %> ago by <%= movie.user.username.capitalize %> | <%= pluralize(movie.comments.count, 'Comment') %></small></span>
      </p>
      <% if logged_in? && (current_user == movie.user || current_user.admin?) %>
        <div class="movie-actions">
          <%= link_to "Edit this movie",
                      edit_movie_path(movie),
                              class: "btn btn-xs btn-warning" %>
          <%= link_to "Delete this movie", movie_path(movie),
                                  method: :delete,
      data: { confirm: "Are you sure you want to delete this movie?" },
                                  class: "btn btn-xs btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
